:root{
    --font-body: 'Open Sans';
    width: 100vw;
    height: 100vh;
}
button{
    position: relative;
    width: 200px;
    height: 80px;
    background-color: #C3BEF7;
    border: 0px;
    border-radius: 15px;
    box-shadow: 4px 4px 4px;
}
button:hover{
    width: 210px;
    height: 90px;
    box-shadow: 6px 6px 6px;
    background-color: #9F85FF;
    cursor: pointer;
}
main{
    background-image: url("/Boarder.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    height: 100%;
    width: 100%;
}
body{
    margin:0;
}

div.center {
    height: 100vh;
    width:  100vw;

    padding: 0;
}